<div class="col-lg-8 mx-auto p-4 py-md-5">
    <header class="mx-auto">
        <h1 class="text-center fw-bold text-body-emphasis mb-5">Sobre o TaskMaster</h1>
        <hr>
    </header>
  
    <main>
      <h1 class="text-body-emphasis mt-5 mb-4 text-center">Projeto</h1>
      <p class="fs-5 mb-5 text-center">A ideia deste projeto é criar um sistema com um interface simples e intuitiva. Na aba "Início" tem um pouco sobre o que o sistema faz, já na aba "Música" você pode cadastrar e listar suas músicas preferidas ou músicas que você desejar ouvir mais para frente.</p>
      <hr>
    </main>

    <footer class="my-5 text-body-secondary">
      Criado por Henrique Garcia Carvalho · © TaskMaster-2025
    </footer>
  </div>
