<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Bem-vindo ao TaskMaster!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">O TaskMaster é um sistema simples e eficiente para gerenciamento de tarefas. Com ele, você pode cadastrar, visualizar, atualizar e excluir tarefas de forma rápida, organizando melhor seu dia a dia.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" routerLink="/tasks">📅 Ver todas as tarefas</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="/list">➕ Nova Tarefa</button>
      </div>
    </div>
  </div>